body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto 1fr 20px;
  grid-gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--oasis-blue);
}
footer {
  grid-area: footer;
  background-color: #abb8c3;
}

#aside {
  /* paddingTop: 50px; */
  padding: 40px 0px 0px 0px;
  /* background-color: #3790d8; */
}
#nav {
  /* paddingTop: 50px; */
  padding: 40px 0px 0px 0px;
  /* background-color: #3790d8; */
}

add {
  grid-area: add;
  background-color: var(--oasis-blue);
}
